<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 left-col side-bar">
  <img class="logo" src="../../assets/images/logo-light.png" />
  <ul class="nav side-menu" style="margin-left: 0; padding-left: 0">
    <li [routerLinkActive]="['active']">
      <a routerLink="home">
        <img src="../assets/images/icons/bond-gen.png"> Bond Generation</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="brokermanagment">
        <img src="../assets/images/icons/broker-man.png"> Broker Management</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="bondmanagement">
        <img src="../assets/images/icons/bond-man.png"> Bond Management</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="transactionhistory">
        <img src="../assets/images/icons/trans-history.png"> Transaction History</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="holderdata">
        <img src="../assets/images/icons/holder-data.png"> Holder Data</a>
    </li>
  </ul>
</div>